<!DOCTYPE html>
<html>
  <head>
    <title>Liz Hadley Therapy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "layout", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link
      href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400&family=Jost:wght@400;700;900&display=swap"
      rel="stylesheet"
    >
  </head>

  <body>
    <header>
      <div class="header-left">
        <%= link_to 'Liz Hadley Therapy', root_path, class: 'home-link' %>
      </div>
      <nav>
        <ul>
          <li class="mobile-only">
            <%= link_to 'Home', root_path, class: ('active' if current_page?(root_path)) %>
          </li>
          <li>
            <%= link_to 'About', about_index_path, class: ('active' if current_page?(about_index_path)) %>
          </li>
          <li>
            <%= link_to 'Focus Areas', focus_areas_path, class: ('active' if current_page?(focus_areas_path)) %>
          </li>
          <li>
            <%= link_to 'FAQs', faq_index_path, class: ('active' if current_page?(faq_index_path)) %>
          </li>
          <li>
            <%= link_to 'Resources', resources_path, class: ('active' if current_page?(resources_path)) %>
          </li>
        </ul>
      </nav>
      <div class="header-right">
        <%= link_to 'Contact', contact_index_path, class: 'contact-link' %>
      </div>
    </header>

    <div class="content">
      <%= yield %>
    </div>

    <% unless current_page?(contact_index_path) %>
      <footer>
        <h2>Let's connect:</h2>
        <%= link_to 'Schedule a Consultation', contact_index_path, class: 'button' %>
      </footer>
    <% end %>
  </body>
</html>
