<h3><%= location[:name] %></h3>
<p>Week total: <%= location[:data]["min_snow_total"] %> inches</p>
<div class="table-container">
  <table>
    <thead>
    <tr>
      <% location[:data]["detail"].keys.each do |day| %>
        <th colspan="2"><%= day %></th>
      <% end %>
    </tr>
    <tr>
      <% location[:data]["detail"].count.times do %>
        <th>Day</th>
        <th>Night</th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <tr>
      <% location[:data]["detail"].each do |_day, value| %>
        <td><%= value["day"]["min"] %>"</td>
        <td><%= value["night"]["min"] %>"</td>
      <% end %>
    </tr>
    </tbody>
  </table>
</div>