<!DOCTYPE html>
<html>
  <head>
    <title>Nathan Hadley</title>
    <meta name='viewport' content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "layout", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700;900&display=swap"
      as="style" rel="stylesheet preload prefetch"
    >
    <link
      href='https://fonts.googleapis.com/css2?family=Proxima+Nova:ital,wght@0,400;0,700;1,400;1,700&display=swap'
      as="style" rel='stylesheet preload prefetch'
    >
  </head>

  <body>
    <% if flash[:error].present? %>
      <div class="error">
        <%= flash[:error] %>
      </div>
    <% end %>
    <div class="sidebar">
      <h1 class="animated-text">
        <div class="first">
          <span class="letter">n</span>
          <span class="letter">a</span>
          <span class="letter">t</span>
          <span class="letter">h</span>
          <span class="letter">a</span>
          <span class="letter">n</span>
        </div>
        <div class="last">
          <span class="letter">h</span>
          <span class="letter">a</span>
          <span class="letter">d</span>
          <span class="letter">l</span>
          <span class="letter">e</span>
          <span class="letter">y</span>
        </div>
      </h1>
      <nav>
        <a href="#" class="menu">menu</a>
        <ul>
          <li>
            <%= link_to 'stories', stories_path,
            class: ('active' if current_page?(stories_path)) %>
          </li>
          <li class="mobile-only <%= 'archive' if current_page?(root_path) || request.path.starts_with?('/stories') %>">
            <a href="#" data-controller="archive" data-action="click->archive#scroll">archive</a>
          </li>
          <li>
            <%= link_to 'photos', photos_path,
            class: ('active' if current_page?(photos_path)) %>
          </li>
          <li>
            <%= link_to 'about', about_index_path,
            class: ('active' if current_page?(about_index_path)) %>
          </li>
          <li>
            <%= link_to 'snow', snow_index_path,
            class: ('active' if current_page?(snow_index_path)) %>
          </li>
        </ul>
      </nav>
    </div>
    <div class="main-content fade">
      <%= yield %>
    </div>
  </body>
</html>
